{% extends 'app/base.html' %}


{% block body%}
<style>
    h1{
        color:Black;
        text-align: center;
    }
    h4{
        color:black;
    }
    body{
        background-image: url("https://cdn7.dissolve.com/p/D2115_158_005/D2115_158_005_1200.jpg")
    }
</style>

<div style="text-align: center;">
<h1>Today's Videos</h1><br>
<h4>Solutions for reflux</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/DQew7AiwPWw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}